body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #252525;
  overflow: visible;   
}

.video {
  width: 100%;     
  height: auto;      
  object-fit: contain; 
  display: block;    
  border: 0;
  margin: 0 auto;    
}

@media (max-width: 412px) {
  .video {
    width: 100vw;      
    height: auto;
  }
}
/* Hamburger button */
.hamburger {
  position: absolute;
  top: 10px;
  left: 20px;
  right: auto;
  font-size: 5vh;
  color: #0e0e0e;
  cursor: pointer;
  z-index: 10;
}
.nav-links {
  list-style: none;
  position: absolute;
  top: 50px;
  left: 20px;
  right: auto;
  background: rgba(0,0,0,0.8);
  padding: 10px 20px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links.open {
  display: flex;
}

/* Banner wrapper (image + overlay) */
.banner-wrapper {
  position: relative;      
  width: 100%;
  height: 100vh;       
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
}

/* Overlay content */
.about-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 5;
  padding: 20px;        
  max-width: 300px;         
  width: 90%;  
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-content h1 {
  font-size: 72px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  color: #0e0e0e;
  animation: slideFromLeft 1s ease-out forwards; /* 1s animation */
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #f2f2f2;
}



.desktop-image {
  display: block;
}
.mobile-image {
  display: none;
}

@media (max-width: 800px) {
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
  }

}